@import  url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Madimi+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: Lato, Georgia, 'Times New Roman', Times, serif;
    max-width: 960px;
    padding: 20px;
}
head {
    font-family: 'Madimi Salt';
    text-align: center;
}
:root {
    --primary-color: #4f126b;
    --secondary-color: #9e9cb6;
    --accent1-color: #faf7f7;
    --accent2-color: #f6efef;

    --heading-font: 'Madidmi One', sans-serif;
    --paragraph-font: 'Lato', sans-serif;

    --nav-background-color: #b4b3f4;
    --nav-link-color: #000000;
    --nav-hover-link-color: #e5e5f9;
    --nav-hover-background-color: #9a0e0e;
}
footer {
    font-family: Madimi 'Salt';
    text-align: center;
}